body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: white;
}

main {
    width: 90%;
    max-width: 800px;
    background: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-top: 0;
    color: #007bff;
}

img {
    display: block;
    margin: 1rem 0;
    border-radius: 50%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.goal {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    flex: 1 1 calc(50% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.goal h2 {
    margin-bottom: 10px;
    color: #007bff;
}


footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}


@media (max-width: 600px) {
    main {
        padding: 1rem;
    }
    #goals {
        flex-direction: column;
    }

    .goal {
        flex: 1 1 100%;
    }
}
